<!DOCTYPE html>
<html>
<head>
    <title>Page Not Found</title>
</head>
<body>
    <h1>404: Page Not Found</h1>
    <p>You wrote nonsense in the URL! Check what you wrote or just click on the links!</p>
    <div class="container pt-30 categories-list">
      <div class="row">
        <div class="col col-12">
          <div class="card-columns">
            <% folders.forEach(function(folder) { %>
            <div class="card-primary col-12 col-sm-3 col-lg-3 mr-auto p-2">
              <div class="card-header" id="<%= folder.folderName %>">
                <a
                  title="<%= folder.folderName %>"
                  href="/<%= folder.folderName %>"
                >
                  <h1 class="card-title">
                    <%= folder.folderName %>
                    <i class="fa fa-external-link"></i>
                  </h1>
                </a>
                <% if (folder.subfolders) { %> 
                <% folder.subfolders.forEach(function(subfolder) { %>
                <div class="card-block">
                  <ul>
                    <!--Ranking list -->
                    <li><!--listed item -->
                      <div class="icon">
                        <img
                          class="favicon"
                          alt=""
                          src="favicon.ico"
                          width="15px"
                          height="15px"
                        />
                        <a class="link" href="<%= subfolder.link %>"><%= subfolder.subfolderName %></a>
                        <a title="<%= subfolder.subfolderName %>" rel="noopener nofollow" target="_new" href="<%= subfolder.link %>">
                            <i class="fa fa-external-link"></i>
                        </a>
                      </div>
                      <div id="views"> <!-- Add your Views here -->
                        <%= subfolder.views %> <!-- Fetch views from the database -->
                      </div>
                    </li>
                    <!--listed item END-->
                  </ul>
                  <!--Ranking list END-->
                </div>
                <% }); %> 
                <% } %>
              </div>
            </div>
            <% }); %>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
