<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <meta
      name="description"
      content="melkanea simple build an nodejs express server to host custom websites alongside any CMS"
    />
    <meta
      name="keywords"
      content="hestiacp nginx nodejs express ejs web & app host"
    />
    <meta name="author" content="Melkanea" alt="melkanea was here" />
  </head>
  <body>
    <h1>Welcome <%= title %>!</h1>
    <p><%= content %></p>
    <body>
      <%- include('../../assets/ejs/header.ejs') %>
      <br />
      <br />
      <%- include('../../assets/ejs/main.ejs') %>
      <br />
      <br />
      <%- include('../../assets/ejs/header.ejs') %>
      <br />
      <br />
      <%- include('../../assets/ejs/footer.ejs') %>
    </body>
  </body>
</html>
