<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= folderName %></title>

    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    
    <%- include('../assets/ejs/melkanea.ejs') %>
    <%- include('../assets/ejs/analytics.ejs') %>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
</head>
  <body>
    <header>
        <%- include('../assets/ejs/header.ejs', {folderName: folderName}) %>
    </header>
    <br><br>
    <main>
            <%- include('../assets/ejs/main.ejs') %>
    </main>
    <section class="video">
            <%- include(`${folderName}${subfolderName ? '/' + subfolderName : ''}/index.ejs`) %>
            <script src="../assets/js/increaseViewCount.js"></script>
    </section>
    <footer>
          <%- include('../assets/ejs/footer.ejs') %>
    </footer>
        <script src="https://kit.fontawesome.com/8636598a5c.js" crossorigin="anonymous"></script>
  </body>
</html>
